
<head>
	<title>Example</title>
</head>
<body>
	<div id="header" class="some classes"></div>
	<ul>
		<li>I am Office</li>
	</ul>
	<input type="radio" name="spice" value="salt">
	<input type="radio" name="spice" value="salt">
	<input type="radio" name="spice" value="salt">
	<input type="radio" name="spice" value="salt" checked="true">


	<input type="checkbox" name="spice" value="pepper">
	<input type="checkbox" name="spice" value="garlic" checked="true">
	<select name="characters" multiple>
		<option value="Buckaroo">Buckaroo</option>
		<option value="Tommy">Tommy</option>
		<option value="Penny">Penny</option>
		<option value="Jersey">Jersey</option>
		<option value="John">John</option>
	</select>
	<input type="number" min="0" max="20">
	<input type="range" min="0" max="20" step="5">
	<input type="color" min="0" max="20" step="5">

	<ul id="nav">
		<li>HElp</li>
		<li>Surround</li>
		<li>Takeaway</li>
		<li>Order</li>
		<li>Shipping</li>
	</ul>
	<ul1>
			<input type="date" id="1">
			<input type="email" id="2">
			<input type="url" id="3">
			<input type="tel" id="4">
		</ul1>	
</body>